body{
    background-color:orange;
 }

h1{
    text-indent: 17cm;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
    text-decoration:underline;
}
h2{
     
    color:purple;
    text-decoration: underline;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);

}

p{
    color:mediumspringgreen;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
}